USE [AgenciaViajes]
GO
/****** Object:  Table [dbo].[agente]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agente](
	[id_agente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[correo_electronico] [varchar](150) NOT NULL,
	[contraseña] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[documento_identidad] [varchar](20) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[codigo_agente] [varchar](10) NOT NULL,
	[estado] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ciudad]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciudad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comision_reservas]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comision_reservas](
	[id_comision] [int] IDENTITY(1,1) NOT NULL,
	[id_reserva] [int] NOT NULL,
	[monto_base_reserva] [decimal](10, 2) NOT NULL,
	[porcentaje_comision] [decimal](2, 2) NOT NULL,
	[monto_comision] [decimal](10, 2) NOT NULL,
	[fecha_calculo] [datetime] NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Comision__B25ABED0901762AB] PRIMARY KEY CLUSTERED 
(
	[id_comision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_reserva]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_reserva](
	[id_detalle_reserva] [int] IDENTITY(1,1) NOT NULL,
	[id_reserva] [int] NOT NULL,
	[concepto] [varchar](30) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 0) NOT NULL,
	[importe] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__detalle___93478EF9A1DD164A] PRIMARY KEY CLUSTERED 
(
	[id_detalle_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genero]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genero](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_genero] PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[habitacion]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[habitacion](
	[id_habitacion] [int] IDENTITY(1,1) NOT NULL,
	[id_hotel] [int] NOT NULL,
	[id_tipo_habitacion] [int] NOT NULL,
	[costo_base] [decimal](10, 2) NOT NULL,
	[impuestos] [decimal](5, 2) NOT NULL,
	[cantidad_huespedes] [int] NOT NULL,
	[ubicacion] [varchar](50) NOT NULL,
	[estado] [varchar](15) NOT NULL,
 CONSTRAINT [PK__habitaci__773F28F376315BC8] PRIMARY KEY CLUSTERED 
(
	[id_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel](
	[id_hotel] [int] IDENTITY(1,1) NOT NULL,
	[id_agente] [int] NOT NULL,
	[id_ciudad] [int] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[estado] [varchar](15) NOT NULL,
 CONSTRAINT [PK__hotel__EAD9D928CAA79E34] PRIMARY KEY CLUSTERED 
(
	[id_hotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[huesped]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[huesped](
	[id_huesped] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_documento] [int] NOT NULL,
	[id_genero] [int] NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[numero_documento] [varchar](20) NOT NULL,
	[correo_electronico] [varchar](150) NOT NULL,
	[contraseña] [varchar](255) NULL,
	[telefono] [varchar](20) NULL,
 CONSTRAINT [PK__huesped__55CED1055059DF40] PRIMARY KEY CLUSTERED 
(
	[id_huesped] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reserva]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reserva](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[id_huesped] [int] NOT NULL,
	[id_habitacion] [int] NOT NULL,
	[fecha_reserva] [datetime] NOT NULL,
	[fecha_ingreso] [datetime] NOT NULL,
	[fecha_salida] [datetime] NOT NULL,
	[contacto_emergencia] [varchar](255) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[iva] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK__reserva__423CBE5D6571C4B7] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_documento]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_documento](
	[id_tipo_documento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK__tipo_doc__9F38507CD69192CC] PRIMARY KEY CLUSTERED 
(
	[id_tipo_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_habitacion]    Script Date: 21/07/2026 8:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_habitacion](
	[id_tipo_habitacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK__tipo_hab__6A65108CC48F88F8] PRIMARY KEY CLUSTERED 
(
	[id_tipo_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ciudad] ON 

INSERT [dbo].[ciudad] ([id], [nombre]) VALUES (1, N'Tokio')
INSERT [dbo].[ciudad] ([id], [nombre]) VALUES (2, N'Nueva York')
INSERT [dbo].[ciudad] ([id], [nombre]) VALUES (3, N'Medellin')
SET IDENTITY_INSERT [dbo].[ciudad] OFF
GO
SET IDENTITY_INSERT [dbo].[genero] ON 

INSERT [dbo].[genero] ([id_genero], [nombre]) VALUES (1, N'Masculino')
INSERT [dbo].[genero] ([id_genero], [nombre]) VALUES (2, N'Femenino')
INSERT [dbo].[genero] ([id_genero], [nombre]) VALUES (3, N'Otro')
SET IDENTITY_INSERT [dbo].[genero] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_documento] ON 

INSERT [dbo].[tipo_documento] ([id_tipo_documento], [nombre]) VALUES (1, N'CC')
INSERT [dbo].[tipo_documento] ([id_tipo_documento], [nombre]) VALUES (2, N'PE')
INSERT [dbo].[tipo_documento] ([id_tipo_documento], [nombre]) VALUES (3, N'Pasaporte')
SET IDENTITY_INSERT [dbo].[tipo_documento] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_habitacion] ON 

INSERT [dbo].[tipo_habitacion] ([id_tipo_habitacion], [nombre]) VALUES (1, N'Suite')
INSERT [dbo].[tipo_habitacion] ([id_tipo_habitacion], [nombre]) VALUES (2, N'Cama Doble')
INSERT [dbo].[tipo_habitacion] ([id_tipo_habitacion], [nombre]) VALUES (3, N'Litera')
SET IDENTITY_INSERT [dbo].[tipo_habitacion] OFF
GO
ALTER TABLE [dbo].[agente] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[comision_reservas] ADD  CONSTRAINT [DF_ComisionReservas_FechaCalculo]  DEFAULT (getdate()) FOR [fecha_calculo]
GO
ALTER TABLE [dbo].[comision_reservas] ADD  CONSTRAINT [DF_ComisionReservas_Estado]  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[habitacion] ADD  CONSTRAINT [DF_Habitacion_Estado]  DEFAULT ('Habilitada') FOR [estado]
GO
ALTER TABLE [dbo].[hotel] ADD  CONSTRAINT [DF_Hotel_Estado]  DEFAULT ('Habilitado') FOR [estado]
GO
ALTER TABLE [dbo].[reserva] ADD  CONSTRAINT [DF_Reserva_FechaReserva]  DEFAULT (getdate()) FOR [fecha_reserva]
GO
ALTER TABLE [dbo].[reserva] ADD  CONSTRAINT [DF_Reserva_Iva]  DEFAULT ((19.00)) FOR [iva]
GO
ALTER TABLE [dbo].[reserva] ADD  CONSTRAINT [DF_Reserva_Estado]  DEFAULT ('Confirmada') FOR [estado]
GO
ALTER TABLE [dbo].[comision_reservas]  WITH NOCHECK ADD  CONSTRAINT [FK_Comisiones_Reservas] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[comision_reservas] CHECK CONSTRAINT [FK_Comisiones_Reservas]
GO
ALTER TABLE [dbo].[detalle_reserva]  WITH NOCHECK ADD  CONSTRAINT [FK_DetalleReservas_Reservas] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[detalle_reserva] CHECK CONSTRAINT [FK_DetalleReservas_Reservas]
GO
ALTER TABLE [dbo].[habitacion]  WITH NOCHECK ADD  CONSTRAINT [FK_Habitaciones_Hoteles] FOREIGN KEY([id_hotel])
REFERENCES [dbo].[hotel] ([id_hotel])
GO
ALTER TABLE [dbo].[habitacion] CHECK CONSTRAINT [FK_Habitaciones_Hoteles]
GO
ALTER TABLE [dbo].[habitacion]  WITH NOCHECK ADD  CONSTRAINT [FK_Habitaciones_TipoHabitaciones] FOREIGN KEY([id_tipo_habitacion])
REFERENCES [dbo].[tipo_habitacion] ([id_tipo_habitacion])
GO
ALTER TABLE [dbo].[habitacion] CHECK CONSTRAINT [FK_Habitaciones_TipoHabitaciones]
GO
ALTER TABLE [dbo].[hotel]  WITH NOCHECK ADD  CONSTRAINT [FK_Hoteles_Agentes] FOREIGN KEY([id_agente])
REFERENCES [dbo].[agente] ([id_agente])
GO
ALTER TABLE [dbo].[hotel] CHECK CONSTRAINT [FK_Hoteles_Agentes]
GO
ALTER TABLE [dbo].[hotel]  WITH NOCHECK ADD  CONSTRAINT [FK_Hoteles_Ciudades] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[ciudad] ([id])
GO
ALTER TABLE [dbo].[hotel] CHECK CONSTRAINT [FK_Hoteles_Ciudades]
GO
ALTER TABLE [dbo].[huesped]  WITH NOCHECK ADD  CONSTRAINT [FK_Huespedes_Generos] FOREIGN KEY([id_genero])
REFERENCES [dbo].[genero] ([id_genero])
GO
ALTER TABLE [dbo].[huesped] CHECK CONSTRAINT [FK_Huespedes_Generos]
GO
ALTER TABLE [dbo].[huesped]  WITH NOCHECK ADD  CONSTRAINT [FK_Huespedes_TipoDocumentos] FOREIGN KEY([id_tipo_documento])
REFERENCES [dbo].[tipo_documento] ([id_tipo_documento])
GO
ALTER TABLE [dbo].[huesped] CHECK CONSTRAINT [FK_Huespedes_TipoDocumentos]
GO
ALTER TABLE [dbo].[reserva]  WITH NOCHECK ADD  CONSTRAINT [FK_Reservas_Habitaciones] FOREIGN KEY([id_habitacion])
REFERENCES [dbo].[habitacion] ([id_habitacion])
GO
ALTER TABLE [dbo].[reserva] CHECK CONSTRAINT [FK_Reservas_Habitaciones]
GO
ALTER TABLE [dbo].[reserva]  WITH NOCHECK ADD  CONSTRAINT [FK_Reservas_Huespedes] FOREIGN KEY([id_huesped])
REFERENCES [dbo].[huesped] ([id_huesped])
GO
ALTER TABLE [dbo].[reserva] CHECK CONSTRAINT [FK_Reservas_Huespedes]
GO
